*, *:before, *:after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: transparent;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
	font-size: $font-size-base;
	font-family: $font-family-base;
}

html, body {
	width: 100%;
	max-width: 100%;
}

body {
	background-color: $body-bg;
	color: $body-color;
}