$light:                         #edf2f9;
$black:                         #000000;
$facebook-brand:                #4267B2;
$twitter-brand:                 #00acee;


$body-bg:                       $light;
$body-color:                    $black;


$gutter:                        1rem;


$container-max-width:           992px;
$container-padding-x:           $gutter * .5;


$font-size-base:                18px;
$font-family-base:              'Arial', sans-serif;


$headings-margin-bottom:        $gutter * 1.25;
$paragraph-margin-bottom:       $gutter;